.seleccionados-para-ti {
  padding: 60px 20px;
  background-color: #fff;
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
  box-sizing: border-box;
  text-align: center;
  border-radius: 8px;
}

.seleccionados-para-ti h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  justify-items: center;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
}
